#shellcheck disable=SC2148,SC2155
# Venv
export VIRTUAL_ENV="$(expand_path ~/.venv)"
export PYTHONDONTWRITEBYTECODE="1"
PATH_add "$(expand_path ~/.venv/bin)"
export date_format='%a, %d %b %Y %H:%M:%S GMT'
export LOG_LEVEL=DEBUG
ROUTER="secrets@10.0.1.1"
SSH_PORT=2510
WHITELIST_CSV="9.9.9.9"
LAPI_URL "https://crowdsec-lapi.watchtower.svc:8080"